<h1>Submitted information</h1>
<h4>Name:<%=params[:name]%> </h4>
<h4>Dojo location:<%=params[:location]%> </h4>
<h4>Favorite Language:<%=params[:language]%> </h4>
<h4>Comment: <%=params[:comment]%></h4>

