<h1>New Student</h1>
<form method="POST" action="/dojos/<%= @dojo.id %>/students">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
First Name: <input type="text" name="first_name">
<br>
Last Name: <input type="text" name="last_name">
<br>
Email: <input type="text" name="email">
<br>
Dojo: 
<select name="dojo">
    <option value="<%= @dojo.id %>"><%= @dojo.branch %></option>
</select>
<br>
<input type="submit" value="Submit">
</form>
<br>
<a href="/dojos">Go Back</a>