<h1>New Dojo</h1>
<form method="POST" action="/create">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
Branch: <input type="text" name="branch">
<br>
Street: <input type="text" name="street">
<br>
City: <input type="text" name="city">
<br>
State: <input type="text" name="state">
<br>
<input type="submit" value="Submit">
</form>
<br>
<a href="/dojos">Go Back</a>